# SESIONES
sessions/

# IGRNORAMOS LA CARPETA VENDOR DE LAS DEPENDENCIAS
vendor/

# IGNORAMOS CARPETA DE LAS EXTENSIONES 
extensiones/

#IGNORAMOS CARPETAS DE LAS FOTOS
vistas/img/productos
vistas/img/usuarios

# IGNORAMOS EL ARCHIVO DE VARIABLES DE ENTORNO DE PHP .env
.env